@import "tailwindcss";

/* Swiper Styles */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@theme {
  --color-primary: var(--color-slate-900);
  --color-secondary: var(--color-slate-100);
  --animate-pulse-slow: pulse-slow 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse-slow {

    0%,
    100% {
      opacity: 0.4;
    }

    50% {
      opacity: 0.2;
    }
  }
}

/* Enable class-based dark mode */
@variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    @apply scroll-smooth;
    scroll-behavior: smooth;
  }

  section {
    scroll-margin-top: 5rem;
  }

  body {
    @apply bg-white text-slate-900 transition-colors duration-300 dark:bg-slate-950 dark:text-slate-100;
  }
}


@utility container-custom {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}